# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# Database Configuration
# For PostgreSQL (recommended)
# DB_ENGINE=postgresql
# DB_HOST=localhost
# DB_NAME=companywebsite_db
# DB_USERNAME=companywebsite_user
# DB_PASS=companywebsite_pass
# DB_PORT=5432
